<% provide :title, t("admin.positions.position.edit_title") %>
<div class="row">
  <div class="col-lg-3">
    <%= render "admin/share/sidebar" %>
  </div>
  <div class="col-lg-9">
    <h1 class="intro-text text-center">
      <strong><%= t "admin.positions.position.edit_title" %></strong>
    </h1>
    <%= render "form" %>
  </div>
</div>
