<% provide :title, t("admin.positions.create") %>
<div class="row">
  <div class="col-md-3">
    <%= render "admin/share/sidebar" %>
  </div>
  <div class="col-md-6">
    <h1><%= t "admin.positions.create" %></h1>
    <%= render "form" %>
  </div>
</div>
