<% provide :title, t("admin.projects.create") %>
<div class="container">
<div class="row">
<div class="col-md-3">
      <%= render "admin/share/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2 class="intro-text text-center">
        <strong><%= t "admin.projects.create" %></strong>
      </h2>
      <hr>
      <div>
        <%= render "form" %>
      </div>
    </div>
</div>
</div>
